.col-md-4 {
  margin-left: 25px;
}

.row h2 {
  margin-left: 5px;
}

#display-output {
  display: none;
  text-align: center;
}

#submit-order {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
